<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <title><%= site.title %></title>
    <meta name="keywords" content="<%= site.keywords %>" />
    <meta name="description" content="<%= site.description %>">
    <meta name="format-detection" content="telephone=no">
    <!-- Favicon, Thumbnail image -->
    <link href="<%= ROOT %>/img/favicon.ico" rel="shortcut icon">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= ROOT %>/img/apple-touch-icon-180x180.png">
    <!-- OGP -->
    <meta property="og:site_name" content="<%= site.title %>" />
    <meta property="og:title" content="<%= site.title %>">
    <meta property="og:description" content="<%= site.description %>">
    <meta property="og:url" content="<%= site.url %>">
    <meta property="og:image" content="<%= site.url %>/img/ogp.png">
    <meta property="og:type" content="website">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= site.title %>">
    <meta name="twitter:description" content="<%= site.description %>">
    <meta name="twitter:image" content="<%= site.url %>ogp.png">
    <!-- External files -->
    <link rel="stylesheet" href="<%= ROOT %>/css/style.css">
    <noscript><style>.noscript{display:block;}</style></noscript>
</head>
