<% ROOT = '.'; %>
<%- include(ROOT + '/_const') -%>
<!doctype html>
<html>
<%- include(ROOT + '/block/_head') -%>
<% BodyClass = 'top'; %>
<body class="<%= BodyClass %>">
    <%- include(ROOT + '/block/_header') -%>

    <%- include(ROOT + '/pages/top/_main') -%>

    <%- include(ROOT + '/block/_footer') -%>
</body>
</html>
