<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= meta.title%></title>
<meta name="description" content="<%= meta.description %>" />
<meta name="keywords" content="<%= meta.keywords %>" />
<meta name="format-detection" content="telephone=no">
<!-- Favicon -->
<link rel="icon" type="image/x-icon" href="<%= path%>asset/img/favicon.ico" />
<!-- og -->
<meta property="og:locale" content="ja_JP" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="<%= meta.title %>" />
<meta property="og:title" content="<%= meta.title%>" />
<meta property="og:description" content="<%= meta.description %>" />
<meta property="og:image" content="<%= path%>asset/img/ogp.webp" />
<meta property="og:url" content="https://www.google.com/<%= meta.url %>" />
<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="<%= meta.title %>">
<meta property="twitter:description" content="<%= meta.description %>" />
<meta property="twitter:image" content="<%= path%>asset/img/ogp.webp" />
<!-- External Files -->
<link rel="stylesheet" href="<%= path%>asset/css/style.css" />
